# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment
.env
venv/
scraping_session.session

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Datasets and media
data/raw/photos/
data/raw/*.zip
data/processed/*.csv
data/processed/*.txt
!data/processed/*.conll

# Model files
notebooks/amharic-ner-model/
notebooks/ner_results/
models/

# Reports
reports/*.pdf

# Logs (optional)
logs/
*.log

# Mac OS
.DS_Store
